/*
 * Copyright CIB software GmbH and/or licensed to CIB software GmbH
 * under one or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information regarding copyright
 * ownership. CIB software licenses this file to you under the Apache License,
 * Version 2.0; you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

// Custom styles and Bootstrap component overrides
// These styles extend or override Bootstrap defaults

// Utility classes
.bg-gray {
  --bs-bg-opacity: 1;
  background-color: $gray;
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

.form-group {
  margin-bottom: 1rem;
}

// Dropdown overrides
.dropdown-item.active,
.dropdown-item:active {
  color: $dark;
  background-color: $light;
}

// List group overrides
.list-group-item.active {
  color: $dark;
  border-color: $primary !important;
  background-color: $light;
}

.list-group-item-light {
  color: $dark;
}

.list-group-item + .list-group-item.active {
  margin-top: 0px;
}

// Text utilities
.text-muted {
  color: $gray !important;
}

// Button overrides
.btn-link {
  color: $dark;

  &:hover,
  &:focus-visible {
    color: $secondary;
  }
}

.btn-light {
  background-color: #fff;
  --bs-btn-border-color: var(--bs-gray-600);
  --bs-btn-hover-border-color: var(--bs-gray-600);
  --bs-btn-active-border-color: var(--bs-gray-600);
  --bs-btn-disabled-border-color: var(--bs-gray-600);

  &:hover {
    background-color: $light;
  }
}

.btn.border-0 {
  box-shadow: none;
}

// Navigation
.nav-link {
  padding: 0 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark;

  &:hover,
  &:focus {
    color: $secondary;
  }
}

.navbar-collapse {
  background-color: #fff;
}

// Form elements
.custom-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-control {
  box-shadow: var(--bs-box-shadow-inset);
}

input[type="checkbox"] {
  background-color: #fff;
  cursor: pointer;

  &:checked {
    background-color: $primary;
    border-color: $primary;
  }
}

.form-check-input:checked {
  background-color: $primary;
  border-color: $primary;
}

// Alerts
.alert-warning,
.alert-success,
.alert-info,
.alert-danger {
  background-color: #fff;
}

// Custom scrollbars
* {
  scrollbar-color: $gray #fff;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 20px;

  &:hover {
    background: $secondary;
  }
}