/*
 * Copyright CIB software GmbH and/or licensed to CIB software GmbH
 * under one or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information regarding copyright
 * ownership. CIB software licenses this file to you under the Apache License,
 * Version 2.0; you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif !default;
$font-family-monospace: SFMono, Menlo,  Segoe UI Mono, Roboto Mono, Courier New, monospace !default;
$font-size-base: 0.875rem;
$h1-font-size: $font-size-base * 2.5714285714285716;
$h2-font-size: $font-size-base * 2.142857142857143;
$h3-font-size: $font-size-base * 1.7142857142857142;
$h4-font-size: $font-size-base * 1.4285714285714286;
$h5-font-size: $font-size-base * 1.1428571428571428;
$h6-font-size: $font-size-base * 1;
$white: #fff;
$dropdown-border-color: $white;
$gray-100: #F5F8FA;
$gray-200: #F0F4F7;
$gray-300: #E9F0F7;
$gray-400: #DFE7F0;
$gray-500: #CCD7E4;
$gray-600: #C1CEDD;
$gray-650: #8092A6;
$gray-700: #617891;
$gray-800: #4D6278;
$gray-900: #0F2133;

$dropdown-divider-bg: $gray-600;
$input-focus-border-color: $gray-900;
$input-focus-box-shadow: none;
$input-color: $gray-900;
$input-disabled-bg: $gray-300;
$input-border-color: $gray-650;
$input-placeholder-color: $gray-700;
$input-group-addon-bg: #ffffff;
$border-radius: .25rem;
$form-check-border-radius: $border-radius;
$input-bg: $white;
$breadcrumb-bg: $input-bg;
$breadcrumb-divider: ">";
$breadcrumb-divider-color: $gray-800;
$progress-bg: $gray-400;
$border-width: 1px;
$pagination-color: $gray-700;
$pagination-hover-color: $gray-900;
$pagination-hover-bg: $gray-200;
$tooltip-bg: $gray-900;
$tooltip-font-size: 19px;
$table-hover-bg: $gray-400;
$table-striped-bg: $gray-200;
$table-border-color: $gray-600;
$table-head-bg: $gray-100;
$table-head-color: $gray-900;
$popover-header-bg: $white;
$nav-tabs-link-active-color: $gray-900;
$list-group-action-color: $gray-900;
$pagination-border-color: rgba(0, 0, 0, 0);
$pagination-disabled-border-color: rgba(0, 0, 0, 0);
$form-select-disabled-color: $gray-900;
$form-select-disabled-bg: $gray-300;
$yellow: #f8a81b;
$table-active-bg: $gray-200;
$breadcrumb-active-color: $gray-900;
$card-cap-bg: $gray-400;
$card-border-color: $gray-600;
$border-color: $gray-500;
$component-active-bg: $white;
$nav-tabs-border-color: $gray-600;
$pagination-active-bg: $primary;
$list-group-border-color: $gray-600;
$modal-content-border-color: $gray-600;
$modal-header-padding-y: 0.8rem;
$btn-close-color: $gray-900;
$btn-close-opacity: 0.75;
$btn-font-weight: 500;
$form-check-input-checked-bg-color: $primary;
$nav-pills-link-active-color: $gray-900;
$list-group-active-color: $gray-900;
$list-group-active-bg: $gray-200;
$list-group-active-border-color: $gray-500;
$dropdown-link-active-color: $gray-900;
$dropdown-link-active-bg: $gray-300;
$alert-border-radius: 0.5rem;
$alert-border-width: 0.1rem;
$toast-color: $gray-900;
$toast-background-color: rgba($success, 0.1);
$toast-border-color: $gray-400;
$toast-border-radius: 0.3rem;
$toast-header-color: rgb(15, 33, 51);
$toast-header-background-color: rgba($success, .30);
$toast-header-border-color: rgba(0, 0, 0, 0);
$dropdown-box-shadow: rgba(15, 33, 51, 0.25) 0px 1px 4px;
$link-color: $gray-800;
$form-select-box-shadow: none;
$link-decoration: underline;
$link-hover-color: $gray-800;
$nav-tabs-link-hover-border-color: $gray-500 $gray-500 $nav-tabs-border-color;
//$nav-tabs-link-active-border-color: $primary $gray-500 $nav-tabs-link-active-bg;
$btn-disabled-opacity: .30;
$form-feedback-valid-color: $success;
$form-feedback-invalid-color: $danger;
$form-feedback-icon-valid-color: $success;
$form-feedback-icon-invalid-color: $danger;
$enable-shadows: true;

//new:
$form-check-input-border: $gray-650;
$form-check-input-disabled-bg: $gray-300;
$form-check-label-disabled-color: $gray-650;
$link-hover-decoration: none;
$blockquote-small-color: $gray-700;
$nav-tabs-link-active-border-color: $gray-600 $gray-600 $white;

// Additional overrides:
$body-secondary-color: $gray-700;
$nav-link-padding-y: 0;
$nav-link-padding-x: 1rem;
$btn-light-bg: $white;
$btn-light-hover-bg: $gray-400;
$alert-bg-scale: 0%;
