
/* Custom SCSS */
/* CIB Patch */

$gray: #c1cedd;

.bg-gray {
  --bs-bg-opacity: 1;
  background-color: $gray;
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

.dropdown-item {
  border-left: 4px solid white;
  padding-left: 0.7rem !important;
}

.dropdown-item.active {
  color: $dropdown-link-active-color;
  background-color: $dropdown-link-active-bg;
  border-left: 4px solid $primary;
}

.dropdown-item:hover {
  border-left: 4px solid $dropdown-link-active-bg;
  background-color: var(--bs-gray-200);
}

.dropdown-item.active:hover,
.dropdown-item.active:focus {
  border-left: 4px solid $primary;
}

.dropdown-item:focus {
  color: $dropdown-link-active-color;
  background-color: $dropdown-link-active-bg;
  border-left: 4px solid $dropdown-link-active-bg;
  outline: 2px solid var(--bs-dark);
  outline-offset: 0px;
}

.list-group-item.active {
  color: $dark;
  border-color: $primary !important;
  background-color: $light;
}

.list-group-item-light {
  color: $dark;
}

.form-group {
  margin-bottom: 1rem;
}

.btn-link {
  color: $dark;
}

.btn-link:hover, .btn-link:focus-visible {
  color: $secondary;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark;
}

.nav-link {
    padding: 0 1rem;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $secondary;
}

.nav-link:focus-visible {
  outline: auto;
  box-shadow: none;
}


.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.btn-light {
  background-color: $btn-light-bg;
  --bs-btn-border-color: #{$gray-600};
  --bs-btn-hover-border-color: #{$gray-600};
  --bs-btn-active-border-color: #{$gray-600};
  --bs-btn-disabled-border-color: #{$gray-600};
}

.btn-light:hover {
  background-color: $btn-light-hover-bg;
}

.btn.border-0 {
  box-shadow: none;
}

.alert-warning,
.alert-success,
.alert-info,
.alert-danger {
  background-color: $white;
}

.list-group-item + .list-group-item.active {
  margin-top: 0px;
}

.navbar-collapse {
  background-color: $white;
}

input[type="checkbox"], input[type="radio"] {
  background-color: $body-bg;
  border: 1px solid $gray-650;
  cursor: pointer;

  &:checked {
    background-color: $primary;
    border-color: $primary;
  }
}

.form-check-input:checked {
	background-color: $primary;
  border-color: $primary;
}

.form-control:hover,
.form-select:hover,
input:not([type="checkbox"]):not([type="radio"]):hover,
textarea:hover,
select:hover {
  border-color: $dark !important;
}

.form-control:focus,
.form-select:focus,
input:not([type="checkbox"]):not([type="radio"]):focus,
textarea:focus,
select:focus {
  border-color: $dark !important;
  outline: 2px solid $dark !important;
  outline-offset: 0px;
}

.form-check-input:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover {
  border-color: $dark;
  box-shadow: none !important;
}

.form-check-input:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  border-color: $dark;
  outline: 2px solid $dark;
  outline-offset: 1px;
  box-shadow: none !important;
}

button:focus,
button:focus-visible,
.btn:not(a):focus,
.btn:not(a):focus-visible {
  outline: 2px solid var(--bs-dark) !important;
  outline-offset: 1px;
  box-shadow: none !important;
}

/* CSS custom scrollbar */
* {
	scrollbar-color: $gray $white;
	scrollbar-width: thin;
}
::-webkit-scrollbar { 
	width: 8px; /* width of the entire scrollbar(vertical) */
	height: 8px; /* height of the entire scrollbar(horizontal) */
}
::-webkit-scrollbar-track { background: $white; /* color of the tracking area */}
::-webkit-scrollbar-thumb {
	background-color: $gray; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}
::-webkit-scrollbar-thumb:hover { background: $secondary; }

// Remove borders from tbody rows in tables
.table {
  > tbody > tr > * {
    border-bottom-width: 0;
  }
}
