.status-progress-bar::before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	left: 15px;
	width: 10px;
	height: 100%;
}
.status-progress-bar-item {
	 position: relative;
}
.status-progress-bar-item:not(:last-child) {
	 padding-bottom: 28px;
}
.status-progress-bar-item::before {
	content: '';
	position: absolute;
	left: -27px;
	height: 100%;
	border-left: 2px solid var(--gray);
}
.status-progress-bar-item::after {
	content: '';
	position: absolute;
	top: 0;
	left: -40px;
	width: 28px;
	height: 28px;
	border: 2px solid var(--gray);
	border-radius: 50%;
	background-color: #FFF;
}
.status-progress-bar-item.status-progress-bar-done::before {
	border-left: 2px solid var(--bs-primary);
}
.status-progress-bar-item.status-progress-bar-done::after {
	content: "✔";
	font-size: 16px;
	color: #FFF;
	text-align: center;
	border: 2px solid var(--bs-primary);
	background-color: var(--bs-primary);
}
.status-progress-bar-item.status-progress-bar-current::after {
	content: "";
	border: 2px solid var(--bs-primary);
}
