.bjs-container {
  --bjs-font-family: Arial, sans-serif;

  --color-blue-205-100-50: hsl(205, 100%, 50%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --breadcrumbs-font-family: var(--bjs-font-family);
  --breadcrumbs-item-color: var(--color-blue-205-100-50);
  --breadcrumbs-arrow-color: var(--color-black);
  --drilldown-fill-color: var(--color-white);
  --drilldown-background-color: var(--color-blue-205-100-50);
  font-size: 10px;
}
.bjs-breadcrumbs {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  top: 30px;
  left: 30px;
  padding: 0px;
  margin: 0px;
  font-family: var(--breadcrumbs-font-family);
  font-size: 16px;
  line-height: normal;
}
.bjs-breadcrumbs-shown .bjs-breadcrumbs {
  display: flex;
}
.djs-palette-shown .bjs-breadcrumbs {
  left: 90px;
}
.djs-palette-shown.djs-palette-two-column .bjs-breadcrumbs {
  left: 140px;
}
.bjs-breadcrumbs li {
  display: inline-flex;
  padding-bottom: 5px;
  align-items: center;
}
.bjs-breadcrumbs li a {
  cursor: pointer;
  color: var(--breadcrumbs-item-color);
  text-decoration: underline !important;
}
.bjs-breadcrumbs li:last-of-type a {
  color: inherit;
  cursor: default;
  text-decoration: none !important;
}
.bjs-breadcrumbs li:not(:first-child)::before {
  content: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"17\" height=\"17\" viewBox=\"0 0 24 24\"><path d=\"M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z\" /><path d=\"M0 0h24v24H0z\" fill=\"none\" /></svg>");
  padding: 0 8px;
  color: var(--breadcrumbs-arrow-color);
  height: 1em;
}
.bjs-breadcrumbs .bjs-crumb {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bjs-drilldown {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin-left: -20px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  outline: none;
  fill: var(--drilldown-fill-color);
  background-color: var(--drilldown-background-color);
}
.bjs-drilldown-empty {
  display: none;
}
.selected .bjs-drilldown-empty {
  display: inherit;
}
[data-popup="align-elements"] .djs-popup-results {
  display: flex;
}
[data-popup="align-elements"] .djs-popup-body [data-group] + [data-group] {
  border-left: 1px solid var(--popup-border-color);
}
[data-popup="align-elements"] [data-group="align"] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
[data-popup="align-elements"] .djs-popup-body .entry {
  padding: 6px 8px;
}
[data-popup="align-elements"] .djs-popup-body .entry:not(:first-child) {
  margin-top: 0;
}
[data-popup="align-elements"] .djs-popup-entry-icon {
  display: block;
  margin: 0;
  height: 20px;
  width: 20px;
}
.djs-element-hidden {
  display: none;
}
.djs-container {
  --color-blue-205-100-50: hsl(205, 100%, 50%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}
[cam-widget-bpmn-viewer] {
  border: 1px solid #eeeeee;
  position: relative;
  min-height: 150px;
}
[cam-widget-bpmn-viewer] .placeholder-container {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
}
[cam-widget-bpmn-viewer] .placeholder-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
[cam-widget-bpmn-viewer] .loading-text {
  font-size: 20px;
}
[cam-widget-bpmn-viewer] .bjs-powered-by {
  display: none;
}
[cam-widget-bpmn-viewer] .diagram-holder .djs-container {
  overflow: hidden;
}
[cam-widget-bpmn-viewer] .diagram-holder {
  position: absolute;
  width: 100%;
  height: 100%;
}
[cam-widget-bpmn-viewer] .diagram-holder .highlight .djs-outline {
  rx: 14px;
  ry: 14px;
  stroke-width: 2px !important;
  stroke: #155cb5 !important;
  fill: rgba(194, 213, 237, 0.4) !important;
}
[cam-widget-bpmn-viewer] .diagram-holder .highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  rx: 14px;
  ry: 14px;
  fill: #c2d5ed !important;
}
[cam-widget-bpmn-viewer] .grab-cursor {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
[cam-widget-bpmn-viewer] .navigation {
  position: absolute;
  right: 15px;
  width: 30px;
  min-height: 30px;
}
[cam-widget-bpmn-viewer] .navigation button {
  font-size: 20px;
  text-align: center;
  position: absolute;
  width: 30px;
  height: 30px;
  color: #555555;
  padding: 0;
  bottom: 0;
}
[cam-widget-bpmn-viewer] .navigation button > span {
  text-align: center;
}
[cam-widget-bpmn-viewer] .navigation.reset {
  bottom: 90px;
}
[cam-widget-bpmn-viewer] .navigation.reset span {
  top: 3px;
}
[cam-widget-bpmn-viewer] .navigation.zoom {
  bottom: 15px;
  height: 60px;
}
[cam-widget-bpmn-viewer] .navigation.zoom button.in {
  bottom: 30px;
  border-bottom: 0;
}
[cam-widget-bpmn-viewer] .navigation.zoom button.in > span {
  top: 2px;
  left: 1px;
}
[cam-widget-bpmn-viewer] .navigation.zoom button.out {
  bottom: 0;
}
[cam-widget-bpmn-viewer] .navigation.zoom button.out > span {
  top: 3px;
}
[cam-widget-bpmn-viewer] .actions {
  float: right;
  position: relative;
  right: 15px;
  top: 15px;
  z-index: 999;
}
[cam-widget-bpmn-viewer] .actions div {
  padding: 1px;
}
[cam-widget-bpmn-viewer] .bjs-breadcrumbs {
  font-size: 14px;
  left: 25px;
  top: 15px;
  padding-left: 0;
}
[cam-widget-bpmn-viewer] .bjs-breadcrumbs li a {
  color: #155cb5;
}
[cam-widget-bpmn-viewer] .bjs-breadcrumbs li::before {
  height: 14px;
}
[cam-widget-bpmn-viewer] .bjs-drilldown {
  margin-top: 5px;
}
.djs-cursor-move {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
