
$primary: #0066B3;
$secondary: #4D6278;
$success: #04B8B5;
$warning: #F1BF2C;
$info: #1C77C3;
$dark: #0F2133;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
$font-family-monospace: SFMono, Menlo,  Segoe UI Mono, Roboto Mono, Courier New, monospace;
$font-size-base: 0.875rem;
$h1-font-size: $font-size-base * 2.5714285714285716;
$h2-font-size: $font-size-base * 2.142857142857143;
$h3-font-size: $font-size-base * 1.7142857142857142;
$h4-font-size: $font-size-base * 1.4285714285714286;
$h5-font-size: $font-size-base * 1.1428571428571428;
$h6-font-size: $font-size-base * 1;
$gray-900: #0F2133;
$dropdown-border-color: $gray-900;
$dropdown-divider-bg: $gray-900;
$blue: #4495d1;
$indigo: #6660aa;
$purple: #b55ca3;
$pink: #f279a7;
$red: #e11e19;
$orange: #f17f51;
$green: #b6d554;
$teal: #00b192;
$cyan: #00b4c9;
$gray-200: #F0F4F7;
$gray-300: #E9F0F7;
$gray-400: #DFE7F0;
$gray-500: #CCD7E4;
$gray-600: #C1CEDD;
$gray-700: #869CB3;
$gray-800: #4D6278;
$input-focus-border-color: $gray-900;
$light: #F0F4F7;
$danger: #f2600c;
$input-color: $gray-900;
$input-disabled-bg: #DDE0E1;
$input-border-color: $gray-700;
$input-placeholder-color: #96A0A5;
$input-group-addon-bg: #ffffff;
$border-radius: .25rem;
$custom-checkbox-indicator-border-radius: NaN$border-radius;
$white: #fff;
$input-bg: $white;
$breadcrumb-bg: $input-bg;
$breadcrumb-divider: ">";
$breadcrumb-divider-color: $gray-800;
$progress-bg: $gray-400;
$border-width: 1px;
$pagination-color: $gray-900;
$pagination-hover-color: $gray-900;
$pagination-hover-bg: #EFF1F4;
$tooltip-bg: $gray-900;
$tooltip-font-size: 19px;
$table-accent-bg: $gray-200;
$gray-100: #F5F8FA;
$table-hover-bg: $gray-100;
$table-border-color: $gray-500;
$table-head-bg: #F5F7F8;
$table-head-color: $gray-900;
$popover-header-bg: $white;
$nav-tabs-link-active-color: $gray-900;
$list-group-action-color: $gray-900;
$pagination-border-color: rgba(0, 0, 0, 0);
$pagination-disabled-border-color: rgba(0, 0, 0, 0);
$custom-select-disabled-color: #282d30;
$custom-select-disabled-bg: #dde0e1;
$yellow: #ffca49;
$alert-border-level: 0;
$alert-color-level: 10;
$table-active-bg: $gray-200;
$breadcrumb-active-color: $gray-900;
$card-cap-bg: $gray-400;
$card-border-color: $gray-600;
$border-color: $gray-500;
$component-active-bg: $white;
$nav-tabs-border-color: $gray-500;
$pagination-active-bg: $primary;
$list-group-border-color: $gray-500;
$modal-content-border-color: $gray-600;
$modal-header-padding-y: 0.8rem;
$close-color: $gray-900;
$btn-font-weight: 500;
$custom-control-indicator-checked-bg: $primary;
$nav-pills-link-active-color: $gray-900;
$list-group-active-color: $gray-900;
$list-group-active-bg: $gray-200;
$list-group-active-border-color: $gray-500;
$dropdown-link-active-color: $gray-900;
$dropdown-link-active-bg: $gray-200;
$alert-border-radius: 1rem;
$alert-border-width: 0.1rem;
$toast-color: $gray-900;
$toast-background-color: rgba($success, 0.1);
$toast-border-color: $gray-400;
$toast-border-radius: 0.3rem;
$toast-header-color: rgb(15, 33, 51);
$toast-header-background-color: rgba($success, .30);
$toast-header-border-color: rgba(0, 0, 0, 0);
$dropdown-box-shadow: rgba(15, 33, 51, 0.25) 0px 1px 4px;
$link-color: $gray-900;
$link-decoration: underline;
$link-hover-color: $gray-800;
$nav-tabs-link-hover-border-color: $gray-500 $gray-500 $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $primary $gray-500 $nav-tabs-link-active-bg;
$btn-disabled-opacity: .20;
$form-feedback-valid-color: darken($success, 20%);
$form-feedback-invalid-color: darken($danger, 10%);
$form-feedback-icon-valid-color: $success;
$form-feedback-icon-invalid-color: $danger;
$enable-shadows: true;