/*
 * Copyright CIB software GmbH and/or licensed to CIB software GmbH
 * under one or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information regarding copyright
 * ownership. CIB software licenses this file to you under the Apache License,
 * Version 2.0; you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@use "sass:color";

// Generic Theme - Bootstrap Variable Overrides
// This file contains theme-specific Bootstrap SCSS variable overrides

// Color System - Generic Theme
$primary: #E11E19;
$secondary: #4D6278;
$success: #68CBC0;
$info: #628EC7;
$warning: #F5B677;
$danger: #F0716F;
$light: #F0F4F7;
$dark: #0F2133;

// Gray colors
$gray-100: #F5F8FA;
$gray-200: #F0F4F7;
$gray-300: #E9F0F7;
$gray-400: #DFE7F0;
$gray-500: #CCD7E4;
$gray-600: #C1CEDD;
$gray-700: #98A9B7;
$gray-800: #4D6278;
$gray-900: #0F2133;

// Additional custom colors
$gray: #c1cedd;

// Typography
$font-size-base: 0.875rem; // 14px

// Heading sizes
$h1-font-size: 2.25rem;
$h2-font-size: 1.875rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;

// Spacing
$spacer: 1rem;

// Border
$border-width: 0.0625rem;
$border-radius: 0.25rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;

$border-color: $gray-500;

// Components
$component-active-bg: $primary;
$component-active-color: #fff;

// Links
$link-color: $dark;
$link-hover-color: color.adjust($dark, $lightness: -15%);

// Navigation
$nav-link-color: $dark;

// Buttons
$btn-border-radius: 0.25rem;
$btn-border-radius-sm: 0.25rem;
$btn-border-radius-lg: 0.5rem;

$btn-font-weight: 500;

// Forms
$input-border-radius: 0.25rem;
$input-border-radius-sm: 0.25rem;
$input-border-radius-lg: 0.5rem;
$input-border-color: $gray-700;
$input-focus-border-color: $dark;
$input-focus-box-shadow: none;

$form-select-border-color: $gray-700;
$form-select-focus-border-color: $dark;
$form-select-focus-box-shadow: none;

// Cards
$card-border-radius: 0.25rem;
$card-border-width: 0.0625rem;

// Modals
$modal-content-border-radius: 1rem;

// Alerts
$alert-border-radius: 1rem;
