registry=https://registry.npmjs.org/

cibseven-client:registry=https://artifacts.cibseven.org/repository/npm-hosted/
//artifacts.cibseven.org/repository/npm-hosted/:_auth=bnBtLXB1Ymxpc2hlcjpDaWpLaGhVUW1aSVNnYUprd0RuMnNTdkVhTGQ2bVdYbg==
always-auth=true
