$primary:       #E11E19;
$secondary:     #4D6278;
$success:       #00A5A5;
$info:          #4E7DBC;
$warning:       #D98D00;
$danger:        #E86462;
$light:         #F0F4F7;
$dark:          #0F2133;	
$white:			   #FFF;

@import "../cib-variables.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "../cib-patch.scss";
